#home-page{
    .container{
        max-width: 1140px;
        margin: auto;
        display: flex;
        //debug
        border: 1px solid red;
    }

    div.logo{
        width: 13%;
        img{
            width: 100%;
        }
    }

    .squared-button{
        @include squared-button;
        cursor: pointer;
    }

    .squared-button.blue, .squared-button.clear:hover{
        color: $lighter-grey;
        background-color: $dark-blue;
    }

    .squared-button.clear{
        background-color: $lighter-grey;
        color: $dark-blue;
    }

    .section-title{
        @include flex-vertical;
        justify-content: center;
    }

    .section-title.center{
        text-align: center;
        width: 35%;
        margin: auto;
        >h2,p{
            padding: $xsmall-space 0;
        }
    }    

    i.blue-text, i.green-text{
        margin-right: $xsmall-space;
    }

    .cards-container{
        padding: $normal-space 0;
        display: flex;
        justify-content: space-between;
    }

    .card{
        border-radius: 10px;
        border: 1.5px solid $border-light-gray;
        padding: $small-space;
    }

    span.rounded-label{
        @include light-labels-icons;
        @include rounded-labels;
    }    

    header{
        z-index: 999;
        padding: $small-space 0;
        background-color: $lighter-grey;
        border-bottom: 1px solid $lighter-grey;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 80px;       
        .container{
            justify-content: space-between;
            align-items: center;
            
            ul{
                display: flex;
            }
            nav{
                .list-item{
                    margin: 0 $small-space;
                    color: $dark-grey;
                    :hover{
                        color: $dark-blue;
                    }
                }
            }
            .actions{
                .icon{
                    padding: $xxsmall-space;
                    width: $normal-space;
                    height: $normal-space;
                    margin: 0 $xxsmall-space;
                    cursor: pointer;
                    border-radius: 5px;
                    @include center-icon;
                }
                .icon.tool{
                    @include light-labels-icons;                
                    box-shadow:$box-shadow;
                }
                .icon.tool:hover{
                    background-color: $dark-blue;
                    i{
                        color: $lighter-grey;
                    }
                }
            }
        }
    }

    #jumbotron{
        background-color: $lighter-grey;
        margin-top: 80px;
        padding: $xlarge-space 0;
        .section-title{
            width: 50%;
            .main-part{
                margin-top: $small-space;
                margin-bottom: $small-space;
                margin-right: $normal-space;
            }
            p{
                margin: $small-space 0;
            }    
            span.rounded-label{
                padding: 0 $xsmall-space;
            }
            button.squared-button.blue{
                margin-right: $xsmall-space;
            }
        }
        img{
            margin-left: 50px;
        }
    }

    #partners{
        background-color: $lighter-grey;
        padding: $large-space 0;
        border-radius: 0 0 100% 100%;
        .container{
            justify-content: space-around;
        }
        .partner{
            display: flex;
            align-items: center;
            width: 80px;
        }
    }

    main{
        padding: $xxlarge-space 0;
        #features{
            .container{
                @include flex-vertical;  
                .title{
                    width: 50%;
                    >h2,p{
                       padding: $small-space 0; 
                    }
                }
                .cards-container{
                    .card{
                        width: calc((100% - 60px) / 4);
                        .card-icon{
                            @include light-labels-icons;
                            @include center-icon;
                            padding: $small-space;
                            width: 60px;
                            height: 60px;
                            border-radius: 10px;
                            i{
                                font-size: $bigger-font;
                            }
                        }
                        h3,p{
                            margin: $small-space 0;
                        }
                    }
                }
            }
        }

        #quickstart{
            padding: $large-space 0;
            .mini-container{
                width: 50%;
                margin: auto;
                .grey-container{
                    background-color: $dark-grey;
                    padding: $small-space;
                    border-radius: 5px;
                    h3{
                        color: white;
                    }
                    ul{
                        display: flex;
                        justify-content: space-between;
                        border: 1px solid $standard-text-grey;
                        border-radius: 5px;
                        background-color: $mouse-grey;
                        li{
                            width: 25%;
                            border-radius: 10px;
                            text-align: center;
                            padding: $xsmall-space 0;  
                            cursor: pointer;                    
                        }
                        li.active{
                            background-color: $dark-grey;
                        } //da completare con VUEJS
                    }
                    .tips{
                        >p{
                            padding: $small-space 0 $xsmall-space;
                        }
                    }
                }
                .didascalic{
                    padding: $small-space 0;
                    span{
                        margin-right: $normal-space;
                    }
                }
                
            }
        }

        #build{
            .container{
                justify-content: space-between;
                >div{
                    width: calc(50% - 50px);
                    img{
                        width: 100%;
                    }
                }
                .section-title{
                    >*{
                        padding: $xsmall-space 0;
                    }
                    li{
                        line-height: 30px;
                    }
                }
            }
        }

        #rates{
            padding: $large-space 0;
            .card{
                position: relative;
                width: calc((100% - 40px) / 3);
                span.rounded-label{
                    padding: $xxsmall-space $small-space;
                }
                h1{
                    margin-top: $small-space;
                }
                .details,ul,.squared-button {
                    margin: $small-space 0;
                }
                li{
                    line-height: 30px;
                    color: $mouse-grey;
                }
                .separation-line{
                    border-color: $border-light-gray;
                }
                .ribbon{
                    width: 90px;
                    line-height: 30px;
                    height: 90px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: rotate(45deg);
                    text-align: center;
                    .ribbon-text{
                        color:white;
                        background-color: $ribbon-color;
                        height: 30px;
                        position: relative;
                        border-right: 2px solid $ribbon-border;
                        border-left: 2px solid $ribbon-border;
                        .fake-square{
                            width: 30px;
                            height: 30px;
                            background-color: white;
                            position: absolute;
                            transform: rotate(45deg);
                        }
                        .fake-square.left{
                            top: -15px;
                            left: -17px;
                        }
                        .fake-square.right{
                            top:-15px;
                            right: -17px;
                        }
                    }
                    
                }
            }
        }
        #join-us{
            .email-form{
                display: flex;
                justify-content: space-between;
                border-radius: 20px;
                border: 1.5px solid $border-light-gray;
                input,button{
                    font-size: $big-font;
                }
                input{
                    padding: $xsmall-space $small-space;
                    margin-left: $xsmall-space;
                }
                input::placeholder{
                    color: gray;
                }  
                button{
                    border-radius: 20px;
                }  
            }    
        }
    }

    footer{
        background-color: $bg-dark;
        #infos{
            padding: $large-space 0;
            .container{
                justify-content: space;
            }
            p{
                padding: $normal-space 0;
            }
            ul{
                width: 25%;
                display: flex;
                li.tool{
                    @include center-icon;
                    padding: 15px;
                    cursor: pointer;
                    margin-right: $xsmall-space;
                    width: 25px;
                    height: 25px;
                    border-radius: 5px;
                    border: 1px solid #27314f;
                }
                li.icon.tool:hover{
                    background-color: $dark-blue;
                    i{
                        color: $lighter-grey;
                    }
                }
            }
        }
    }
}