//spazi
$xxsmall-space: 5px; 
$xsmall-space: 10px;
$small-space: 20px;
$small-to-normal-space: 30px;
$normal-space: 40px;
$large-space: 50px;
$xlarge-space: 80px;
$xxlarge-space: 100px;

$header-height: 80px;


//colori
$lighter-grey: #F8F9FC;
$light-grey: #ADB5BD;
$standard-text-grey: #8492A6;
$black: black;
$mouse-grey: #4F5A69;
$dark-grey: #3C4858;
$blue: #007BFF;
$dark-blue: #2F55D4;
$acid-green: #2ECA8B;
$bg-dark: #202942;
$night-blue:#27314f;
$hover-dark-blue: #2443AC;
//ribbon
$ribbon-color: #F17425;
$ribbon-border: #D55B0E;
// bordered
$border-light-gray: #E9ECEF;
$bordered-lightgray-buttons: #2F55D41A;
//box shadows
$box-shadow: 0 3px 5px 0 rgb(47,85,212,0.3);


//font
$smaller-font: 0.7rem;
$small-font: 0.9rem;
$big-font: 1.1rem;
$bigger-font: 1.5rem;
$h1-font: 2.5rem;
$h2-font: 1.8rem;

//transition
$standard-transition: all 0.5s ease;


//icone
@mixin light-labels-icons{
    color: $dark-blue;
    background-color: $bordered-lightgray-buttons;
}

@mixin rounded-labels{
    border-radius: 20px;
    border: 1.5px solid $light-grey;
}



@mixin icon-hover{
    background-color: $dark-blue;
    transition: all 0.5s ease;
    i{
        color: $lighter-grey;
    }
}


//bottoni
@mixin squared-button{
    border-radius: 5px;
    padding: $xsmall-space $small-space;
    border: 1.5px solid $dark-blue;
    box-shadow: $box-shadow;
    cursor: pointer;
}

@mixin bg-blu-grey-text{
    color: $lighter-grey;
    background-color: $dark-blue;
}

@mixin bg-clear-blu-text{
    background-color: transparent;
    color: $dark-blue;
}

@mixin blu-botton-hover{
    background-color: $hover-dark-blue;
    transition: $standard-transition;
}


//flex and display style
@mixin standard-container{
    max-width: 1140px;
    margin: auto;
    display: flex;
}

@mixin flex-vertical{
    display:flex;
    flex-direction: column;
}

@mixin absolute-center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

//content
@mixin centered-content{
    text-align: center;
    width: 600px;
    margin: auto;
    >h2,p{
        padding: $xsmall-space 0;
    }
}

@mixin cards-container{
    padding: $normal-space 0;
    display: flex;
    justify-content: space-between;
}

@mixin card-style{
    border-radius: 10px;
    border: 1.5px solid $border-light-gray;
    padding: $small-space;
}

//position
@mixin absolute-total{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
}

@mixin center-item{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

// ribbon
@mixin ribbon{
    width: 75px;
    height: 75px;
    position:absolute; 
    top: -7px;
    right:-7px; 
    overflow: hidden!important;
    .ribbon-text{
        background-color: $ribbon-color;
        width: 110px;
        color: white;
        text-align: center;
        transform: rotate(45deg);
        position: absolute;
        top: 18px;
        right: -25px;
        &:before,&:after{
            content: '';
            position: absolute;
            top: 100%;
            z-index: -1;
            border: 4px solid transparent;
        }
        &:before{
            left: 4px;
            border-left-color: $ribbon-border;
            border-top-color: $ribbon-border;
        }
        &:after{
            right: 2px;
            border-right-color: $ribbon-border;
            border-top-color: $ribbon-border;
        }
    }        
}

@mixin email-form{
    padding: $xsmall-space $small-space;
    border-radius: 5px;
}
