//spazi
$xxsmall-space: 5px; 
$xsmall-space: 10px;
$small-space: 20px;
$normal-space: 40px;
$large-space: 50px;
$xlarge-space: 80px;
$xxlarge-space: 100px;


//colori
$lighter-grey: #F8F9FC;
$light-grey: #ADB5BD;
$standard-text-grey: #8492A6;
$black: black;
$mouse-grey: #4F5A69;
$dark-grey: #3C4858;
$blue: #007BFF;
$dark-blue: #2F55D4;
$acid-green: #2ECA8B;
$bg-dark: #202942;
$night-blue:#27314f;
//ribbon
$ribbon-color: #F17425;
$ribbon-border: #D55B0E;
// bordered
$border-light-gray: #E9ECEF;
$bordered-lightgray-buttons: #2F55D41A;
//box shadows
$box-shadow: 0 3px 5px 0 rgb(47,85,212,0.3);


//font
$smaller-font: 0.7rem;
$small-font: 0.9rem;
$big-font: 1.1rem;
$bigger-font: 1.5rem;
$h1-font: 2.5rem;
$h2-font: 1.8rem;


//icone
@mixin light-labels-icons{
    color: $dark-blue;
    background-color: $bordered-lightgray-buttons;
}

@mixin rounded-labels{
    border-radius: 20px;
    border: 1px solid $light-grey;
}

@mixin center-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}


//bottoni
@mixin squared-button{
    border-radius: 5px;
    padding: $xsmall-space $small-space;
    border: 1px solid $dark-blue;
    box-shadow: $box-shadow;
}


//flex
@mixin flex-vertical{
    display:flex;
    flex-direction: column;
}
