@import "partials/variables";
@import "partials/home-page";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    color: $standard-text-grey;

    h1, h2{
        color: $black;
    }

    h1{
        font-size: $h1-font;    
    }

    h2{
        font-size: $h2-font;
    }

    h3{
        color: $dark-grey;
        font-weight: 400;
    }

    a{
        color: inherit;
        text-decoration: none;
    }

    li{
        list-style-type: none;
    }

    .small-text{
        font-size: $small-font;
    }

    .big-text{
        font-size: $big-font;
    }

    .bigger-text{
        font-size: $bigger-font;
    }

    .blue-text{
        color: $dark-blue;
    }

    .green-text{
        color: $acid-green;
    }

    div.separation-line{
        border-top: 1px solid $light-grey;
    }

}